@import "compass/css3/text-shadow";
@import "vars";

@mixin inset-shadow($color-light, $color-dark) {
  @include text-shadow(
          0 -1px 0 1px $color-light,
          0 1px 0 1px $color-dark
  );
}

@mixin responsive($size) {
  @if $size == small {
    @media (max-width: $fnet-devicewidth-small) { @content; }
  } @else if $size == medium {
    @media (min-width: $fnet-devicewidth-small) and (max-width: $fnet-devicewidth-medium) { @content; }
  } @else if $size == large {
    @media (min-width: $fnet-devicewidth-medium) { @content; }
  }
}

@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot?pjs6v0');
  src:url('../font/icomoon.eot?#iefixpjs6v0') format('embedded-opentype'),
  url('../font/icomoon.woff?pjs6v0') format('woff'),
  url('../font/icomoon.ttf?pjs6v0') format('truetype'),
  url('../font/icomoon.svg?pjs6v0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lab:before {
  content: "\e600";
}



html,body {
  height: 100%;
  font-size: 16px;
  &>section {
    border-top: 5px solid #000;
  }
}

.hidden {
  display: none;
}

body>nav {
  position: fixed;
  z-index: 9;
  width: 3rem;
  height: 100%;
  left: 0;
  background-color: $fnet-charcoal-alt;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    li {
      color: $fnet-white;
      width: 100%;
      text-align: center;
      height: 3rem;
      line-height: 3.5rem;
      font-size: 1.5rem;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: $fnet-white;
        text-decoration: none;
        &.active, &:hover {
          background-color: $fnet-charcoal;
        }
      }
    }
  }
}

section {
  &>header {
    &>h1 {
      font-family: $title-font;
      font-weight: 700;
      font-size: 4.2rem;
      text-align: center;
      line-height: 6.4rem;

      padding-top: 2rem;
    }
    &>h2 {
      font-family: $subtitle-font;
      font-weight: 300;
      font-size: 1rem;
      color: $white;
      text-align: center;
    }
    em {
      font-style: normal;
      color: $white;
      position: absolute;
    }
  }

}
footer {
  width: 100%;
  &>h1 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 4.2rem;
    text-align: center;
    line-height: 6.4rem;

    padding-top: 2rem;
  }
  &>h2 {
    font-family: $subtitle-font;
    font-weight: 300;
    font-size: 1rem;
    color: $white;
    text-align: center;
  }
  em {
    font-style: normal;
    color: $white;
    position: absolute;
  }
}
section {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: auto;

  &>article {

    //      border-bottom: 5px solid #000;

    width: 70%;
    min-width: 500px;
    max-width: 50rem;
    margin: 100px auto;
    background-color: $white;
    padding: 50px;
    color: $fnet-charcoal-alt-light;

    header {
      text-align: center;

      img {
        vertical-align: middle;
        border-radius: 75px;
      }
      h1 {
        margin: 0 2rem;
        font-family: $title-font;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 2.5rem;
      }
      h3 {
        margin: 0 2rem;
        display: inline-block;
        font-family: $title-font;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2.5rem;
        strong {
          font-weight: 700;
        }
      }
    }

    p {
      font-family: $text-font;
      font-size: 1.0rem;
      line-height: 2.2rem;
      margin: 2rem 0;
    }
  }

}

section#home-section {
  background-color: $fnet-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
//  border-bottom: 5px solid $fnet-blue-alt;
  &>header {
    &>h1 {
      padding-top: 0;
      color: $fnet-white-alt;
      @include inset-shadow($fnet-white-alt-dark, $fnet-white-alt-light);
    }

    &>h2 {
      color: $fnet-splash-gray;
    }
  }

}

section#about-section {
  background-color: $fnet-blue;
  &>header {
    &>h1 {
      color: $fnet-blue-alt;
      @include inset-shadow($fnet-blue-alt-dark, $fnet-blue-alt-light);
    }
  }
  border-color: $fnet-blue-alt;

  article {


    &>header {
      color: $fnet-blue-alt;
    }
  }
}
section#blog-section {
  background-color: $fnet-red;
  color: $fnet-charcoal;



  &>header {
    h1 {
      color: $fnet-red-alt;

    }
  }


  &>h1 {
    @include inset-shadow($fnet-red-alt-dark, $fnet-red-alt-light);
  }

  /* LIST BLOG POSTS */
  &>nav {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    min-height: 25rem;
    margin-top: 6rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;


    &>article {
      width: 25%;
      min-width: 20rem;
      box-sizing: border-box;
      padding: 0px 1.5rem;
      position: relative;

      time {
        display: block;
        text-align: center;
        font-family: $text-alt-font;
        color: $white;
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h3 {
        text-align: center;
        font-family: $title-font;
        font-weight: 700;
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 1.5rem;

        a {
          color: $white;
          text-decoration: none;
        }
      }

      blockquote {
        font-family: $text-font;
        font-weight: 300;
        font-size: 1.0rem;
        line-height: 1.8rem;

        color: $white;
      }

      a.more {
        width: 100%;

        font-family: $text-font;
        font-weight: 300;
        font-size: 0.9rem;
        font-variant: small-caps;
        color: $white;
        text-decoration: none;
        text-align: center;

        position: absolute;
        bottom: 1rem;
        left: 50%;
        margin-left: -50%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  border-color: $fnet-red-alt;
  /* DISPLAY SINGLE POST */
  &>article {

    header {
      time {
        float: right;
        display: inline-block;
        font-family: $text-alt-font;
        color: $fnet-red-alt;
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
      p {
        float: left;
        display: inline-block;
        font-family: $text-alt-font;
        color: $fnet-red-alt;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
      }
      h1 {
        clear: both;
        padding: 3rem 0;
      }
    }
    section {
      border: none;
    }
  }

}

section#contact-section {
  background-color: $fnet-green;
  &>header {
    &>h1 {
      color: $fnet-green-alt;
      @include inset-shadow($fnet-green-alt-dark, $fnet-green-alt-light);
    }
  }

  border-color: $fnet-green-alt;

  article {

    &>header {
      color: $fnet-green-alt;
    }
  }

  nav {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 52px;
      border: 3px solid $fnet-green-alt;

      line-height: 95px;
      text-align: center;
      font-family: $subtitle-font;
      color: $fnet-green-alt;
      font-weight: 300;
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        background-color: $fnet-green-alt;
        color: $white;
      }
    }
  }

}

section#notfound, footer {
  background-color: $fnet-charcoal;
  &>h1 {
    color: $fnet-charcoal-alt;
    @include inset-shadow($fnet-charcoal-alt-dark, $fnet-charcoal-alt-light);
  }

}
footer {
  padding: 2rem 0;
}


@include responsive(medium) {
  section>header em {
        position: relative;
  }
  footer>em {
        position: relative;
   }
}

@include responsive(small) {

  section>header {
      &>h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      em {
        position: relative;
      }
  }
  footer {
    &>h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
    &>em {
      position: relative;
    }
  }
  section {
    &>article {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin: 20px 0 0;
      padding: 50px 0px;
      header {
        h3 {
          font-size: 1.0rem;
          line-height: 1.7rem;
        }
      }
    }

  }
  section#blog-section {
    /* LIST BLOG POSTS */
    &>nav {
      flex-direction: column;

      &>article {
        width: auto;
        min-width: auto;
        box-sizing: content-box;
        padding: auto;
        position: relative;

        h3 {
          margin-bottom: 3.5rem;
          a {
            display: block;
            width: 100%;
            &:hover {
              background-color: $fnet-red-alt;
            }
          }
        }

        blockquote {
          display: none;
        }

        a.more {
          display: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    /* DISPLAY SINGLE POST */
    &>article {
      header {
        h1 {
          font-size: 3rem;
          line-height: 4.5rem;
        }
      }
    }

  }
  section#contact-section {
    nav {
      flex-direction: column;
      align-items: center;
      a {
        margin-bottom: 1rem;
      }
    }

  }

  footer {
    height: 20rem;
  }
}
